<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'users'}" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Create new user</div>
            <div class="panel-body">
                <form @submit.prevent="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">User name</label>
                            <input type="text" v-model="user.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">User email</label>
                            <input type="text" v-model="user.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success"
                                    :disabled="!user.name.trim() || !user.email.trim()">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';
    export default {
        data () {
            return {
                user: {
                    name: '',
                    email: '',
                }
            }
        },

        methods: {
            ...mapActions('user', [
                'addUser',
            ]),

            saveForm() {

                this.addUser(this.user).then( (resp) => {
                        this.$router.push({name: 'users'});
                    })
                    .catch((resp) => {
                        alert("Could not create user");
                    });

            }
        }
    }
</script>

