<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'users'}" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Edit user</div>
            <div class="panel-body">
                <form @submit.prevent="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">User name</label>
                            <input type="text" v-model="user.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">User email</label>
                            <input type="text" v-model="user.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success"
                                    :disabled="!user.name.trim() || !user.email.trim()">Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               @click.prevent="deleteEntry(id)">
                                Delete
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';
    export default {
        data() {
            return {
                id: this.$route.params.id,
                user: {
                    name: '',
                    email: '',
                }
            }
        },


        methods: {
            ...mapActions('user', [
                'updateUser',
                'deleteUser',
            ]),

            saveForm() {
                this.updateUser({ id: this.id, ...this.user }).then( () => {
                        this.$router.push({name: 'users'});
                    })
                    .catch(() => {
                        alert("Could not update user");
                    });

            },

            deleteEntry(id) {
                if (confirm("Do you really want to delete it?")) {
                    this.deleteUser(id).then( () => {
                        this.$router.push({name: 'users'});
                    })
                    .catch(() => {
                        alert("Could not delete user");
                    });
                }
            }
        },

        computed: {
            ...mapGetters('user', [
                'getUser',
            ]),
        },

        created() {
            const editUser = this.getUser(this.id);
            this.user.name = editUser.name;
            this.user.email = editUser.email;
        }
    }
</script>

