<template>
    <div class="users-container">
        <div class="form-group">
            <router-link :to="{name: 'add-user'}" class="btn btn-success">Create new user</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">User list</div>
            <div class="row margin-10">
                <div class="col padding-reset">
                    <template>
                        <section>
                            <label class="control-label">Search by </label>
                            <div class="block">
                                <b-radio v-model="radio"
                                         name="name"
                                         native-value="name">
                                    Name
                                </b-radio>
                                <b-radio v-model="radio"
                                         name="name"
                                         native-value="email">
                                    Email
                                </b-radio>
                            </div>
                        </section>
                    </template>
                    <b-field >
                        <b-input
                                type="text"
                                v-model="filterValue"
                        />
                    </b-field>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <router-link :to="{name: 'edit-user', params: {id: user.id}}" class="btn btn-xs btn-default">
                                Edit
                            </router-link>
                            <router-link :to="{name: 'show-user', params: {id: user.id}}" class="btn btn-xs btn-success">
                                Show
                            </router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>

<script>
import { mapGetters } from 'vuex';

export default {

    data() {
        return {
            radio: 'name',
            filterValue: ''
        }
    },

    name: 'UserContainer',

    computed: {
        ...mapGetters('user', [
            'getUsers',
        ]),

        users() {
            if (this.filterValue && this.radio){
                const array = Object.values(this.getUsers());
                return array.filter(user => user[this.radio].indexOf(this.filterValue) >= 0);
            }
            return this.getUsers()
        },
    },

};
</script>

<style scoped lang="css">
    .margin-10{
        margin: 10px 0
    }

    .padding-reset{
        padding: initial;
    }

</style>
