<template>
    <div class="container desktop">

        <div class="users-container">
        <div class="panel panel-default">
            <div class="panel-heading">Albums list</div>
            <div class="col padding-reset margin-10">
                <template>
                    <section>
                        <b-field label="Filter by user">
                            <b-select placeholder="Select an user" @input="setFilterUserId">
                                <option
                                        :value=-1
                                        :key=-1>
                                    None
                                </option>
                                <option
                                        v-for="user in users"
                                        :value="user.id"
                                        :key="user.id">
                                    {{ user.name }}
                                </option>
                            </b-select>
                        </b-field>
                    </section>
                </template>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th  width="700">Title</th>
                        <th>User name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="album in albums">
                        <td>{{ album.id }}</td>
                        <td>{{ album.title }}</td>
                        <td>{{ getUserNameById(album.userId) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {

        data() {
            return {
                filterUserId: -1
            }
        },

        name: 'Albums',

        computed: {
            ...mapGetters('user', [
                'getUsers',
                'getUser',
            ]),

            ...mapGetters('album', [
                'getAlbums',
            ]),

            albums() {
                if (this.filterUserId > 0){
                    const array = Object.values(this.getAlbums());
                    return array.filter(album => album.userId === this.filterUserId );
                }
                return this.getAlbums()
            },

            users() {
                return this.getUsers()
            },
        },

        methods: {
            ...mapActions('album', [
                'fetchAlbums',
            ]),

            setFilterUserId(value){
                this.filterUserId = value
            },

            getUserNameById(id){
                const user = this.getUser(id);
                if (!user){
                    return '-';
                }
                return user.name;
            }
        },

        created() {
            this.fetchAlbums();
        }

    };
</script>

<style scoped lang="css">
    .margin-10{
        margin: 10px 0
    }

    .padding-reset{
        padding: initial;
    }

</style>
