<template>
  <div class="container desktop">
    <AddUser />
  </div>
</template>

<script>
  import AddUser from '@/components/user/AddUser.vue';

export default {
  name: 'NewUser',
  components: {
    AddUser
  }

}
</script>
