<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'users'}" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">User information</div>
            <div class="panel-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">User id: {{user.id}}</li>
                    <li class="list-group-item">User name: {{user.name}}</li>
                    <li class="list-group-item">User email: {{user.email}}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        name: 'ShowUser',

        computed: {
            ...mapGetters('user', [
                'getUser',
            ]),
            user() {
                return  this.getUser(this.$route.params.id);
            }
        },
    }
</script>

