<template>
  <div class="container desktop">
    <EditUser />
  </div>
</template>

<script>
  import EditUser from '@/components/user/EditUser.vue';

export default {
  name: 'NewUser',
  components: {
    EditUser
  }

}
</script>
