<template>
  <div class="container desktop">
    <UserContainer />
  </div>
</template>

<script>
  import UserContainer from '@/components/user/UserContainer.vue';

export default {
  name: 'users',
  components: {
    UserContainer
  }

}
</script>
