<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link :to="{name: 'users'}">Users</router-link> |
      <router-link :to="{name: 'albums'}">Albums</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  export default {
    created() {
      this.fetchUsers();
    },

    methods: {
      ...mapActions('user', [
        'fetchUsers'
      ])
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
